<?xml version="1.0" encoding="UTF-8"?>
<config>
    <SAMPLERATE>44100</SAMPLERATE>
    <DURATION>20</DURATION>
    <UPDATE_INTERVAL>25</UPDATE_INTERVAL>
    <FREQUENCY>440</FREQUENCY>
    <DEBUGGER_SINE>false</DEBUGGER_SINE>
    <GRAPH>
        <YMIN>-1</YMIN> <!-- Y轴最小值 -->
        <YMAX>1</YMAX>  <!-- Y轴最大值 -->
        <TIME_WINDOW>0.2</TIME_WINDOW> <!-- X轴显示的时间窗（秒） -->
        <BACKGROUND_COLOR>white</BACKGROUND_COLOR> <!-- 背景颜色 -->
        <SHOW_AXIS>true</SHOW_AXIS> <!-- 是否显示坐标轴 -->
    </GRAPH>
    <MOTD>   ('-.     _ .-') _                              .-')    
  ( OO ).-.( (  OO) )                            ( OO ).  
  / . --. / \     .'_  .-'),-----.  .-'),-----. (_)---\_) 
  | \-.  \  ,`'--..._)( OO'  .-.  '( OO'  .-.  '/    _ |  
.-'-'  |  | |  |  \  '/   |  | |  |/   |  | |  |\  :` `.  
 \| |_.'  | |  |   ' |\_) |  |\|  |\_) |  |\|  | '..`''.) 
  |  .-.  | |  |   / :  \ |  | |  |  \ |  | |  |.-._)   \ 
  |  | |  | |  '--'  /   `'  '-'  '   `'  '-'  '\       / 
  `--' `--' `-------'      `-----'      `-----'  `-----'  </MOTD>
    <prop>
        <version>Alpha1.0</version>
        <author>Ziyang-Bai</author>
        <res>https://github.com/Ziyang-Bai/adoos</res>
    </prop>
</config>
